extends template

block content
	div.container
		div
			h2 Self Check Stats

			div.form-row
				div.form-group.col-sm-6
					label(for="startdate") Start Date:
					input#startdate.form-control(type="date", name="startdate", value=moment(startdate).format("YYYY-MM-DD"))

				div.form-group.col-sm-6
					label(for="enddate") End Date: 
					input#enddate.form-control(type="date", name="enddate", value=moment(enddate).format("YYYY-MM-DD"))

			div.form-group
				label(for="station") Self-Check Station:
				select#station.form-control(name="station")
					optgroup
						option(value="ALL", selected=(laststation == "ALL" ? true : false)) All Stations
					each sg in stationgroups
						optgroup
							each s in sg
								option(value=s.code, selected=(laststation == s.code ? true : false))= s.desc
					optgroup
						each s in stations
							option(selected=(laststation == s.station ? true : false))= s.station
			
			div.row
				div.col-9.text-right
					button#details.btn.btn-primary Get Details
				div.col-3.text-right
					button#summary.btn.btn-primary Get Summary

		div#statsresults
			if !stats
				h3 No stats here.
			else
				table.table.table-condensed.table-striped
					if reptype === "summary"
						- var cototal = 0
						- var sestotal = 0
						caption Session Summary for #{stationlist} from #{startdate} to #{enddate}
						thead
							th Station Name
							th.text-right # of Sessions
							th.text-right # of Checkouts
						tbody
							each row in stats
								tr
									td= row.station
									td.text-right= row.sessions
									td.text-right= row.checkouts
									- cototal += Number(row.checkouts)
									- sestotal += Number(row.sessions)
						tfoot
							th
							th.text-right Total Sessions: #{sestotal}
							th.text-right Total Checkouts: #{cototal}
					else
						- var cototal = 0
						caption Session Details for #{stationlist} from #{startdate} to #{enddate}
						thead
							th Date/Time of Access
							th Station Name
							th.text-right # of Checkouts Processed for Session
						tbody
							each row in stats
								tr
									td= moment(row.datetime).format("YYYY-MM-DD HH:mm:ss")
									td= row.station
									td.text-right= row.checkouts
									- cototal += row.checkouts
						tfoot
							th
							th Total Sessions: #{stats.length}
							th.text-right Total Checkouts: #{cototal}